@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-Bold.woff') format('woff'),url('./fonts/GeneralSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-BoldItalic.woff') format('woff'),url('./fonts/GeneralSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-Extralight.woff') format('woff'),url('./fonts/GeneralSans-Extralight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-ExtralightItalic.woff') format('woff'),url('./fonts/GeneralSans-ExtralightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-Light.woff') format('woff'),url('./fonts/GeneralSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-LightItalic.woff') format('woff'),url('./fonts/GeneralSans-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-Medium.woff') format('woff'),url('./fonts/GeneralSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-MediumItalic.woff') format('woff'),url('./fonts/GeneralSans-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-Regular.woff') format('woff'),url('./fonts/GeneralSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-Semibold.woff') format('woff'),url('./fonts/GeneralSans-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
font-display: swap;
}
@font-face {
	font-family: 'GeneralSans';
	src: local('☺'), url('./fonts/GeneralSans-SemiboldItalic.woff') format('woff'),url('./fonts/GeneralSans-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
font-display: swap;
}
