---
import Layout from '../layouts/Layout.astro';

//const portalHost = import.meta.env.ASTRO_APP_CABINET_HOST;

// const cases = [
// 						{
// 							src: "img/case_1.jpg",
// 							caseSrc: "img/case-studies/action-water.jpg",
// 							stack: "Swarm + Sampling + Retargeting",
// 							name: "Action Water",
// 							desc: "On-car projection + car wrap + product sampling at Cal USC Game.",
// 							drawer: "action-water",
// 						},
// 					];
---

<Layout title="Boilerplate" description="Boilerplate">
	<div class="drawers" slot="drawers">
	
	</div>
</Layout>