---
// const portalHost = import.meta.env.ASTRO_APP_CABINET_HOST;
---

<footer class="footer section-space">
	<div class="container container_wide footer__container">
		<div class="footer__top">
			<a href="" class="logo ratio-wrap ratio-wrap_contain footer__logo">
				<figure>
					<img src="img/logo.png"class="logo__img ratio-wrap__item" alt="Adway Logo" title="Adwayusa">
					<figcaption class="logo__caption">Adwayusa Logotype</figcaption>
				</figure>
			</a>
			<div class="footer__group">
				<div class="footer__nav titled-block">
					<h3 class="titled-block__title">Sections</h3>
					<nav class="titled-block__body titled-block__body_list">
						<a href="#projects" class="btn btn_hover-decor">Projects</a>
						<a href="#services" class="btn btn_hover-decor">Services</a>
						<a href="#about" class="btn btn_hover-decor">About</a>
						<a href="#contact" class="btn btn_hover-decor">Contact</a>
					</nav>
				</div>
				<div class="footer__info titled-block">
					<h3 class="titled-block__title">Contact</h3>
					<div class="titled-block__body titled-block__body_list">
						<dl class="contacts">
							<div class="contacts__item">
								<dt>Address:</dt>
								<dd><a href="https://www.google.com/maps?daddr=Coronado,+California,+United+States" class="btn btn_link footer__link" target="_blank">Coronado, California, United States</a></dd>
							</div>
							<div class="contacts__item">
								<dt>Email:</dt>
								<dd><a href="mailto:gala@sagadesignstudio.com" class="btn btn_link footer__link">gala@sagadesignstudio.com</a></dd>
							</div>
							<div class="contacts__item">
								<dt>Phone:</dt>
								<dd><a href="tel:6197919448" class="btn btn_link footer__link">619-791-9448</a></dd>
							</div>
						</dl>
						<div class="social-media footer__social">
							<a href="https://www.facebook.com" target="_blank" class="btn btn_social">
								<div class="btn__icon icon-facebook"></div>
							</a>
							<a href="https://twitter.com" target="_blank" class="btn btn_social">
								<div class="btn__icon icon-twitter"></div>
							</a>
							<a href="https://www.linkedin.com" target="_blank" class="btn btn_social">
								<div class="btn__icon icon-linkedin"></div>
							</a>
							<a href="https://instagram.com" target="_blank" class="btn btn_social">
								<div class="btn__icon icon-instagram"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__separator"></div>
		<div class="footer__bottom">
			<div class="footer__rights">
				All rights reserved. 2025
			</div>
			<div class="footer__terms">
				<span class="footer__terms-pre">We follow the Google: </span>
				<span class="footer__terms-links">
					<a href="https://policies.google.com/privacy?hl=en" class="btn btn_link"><b>Privacy Policy</b></a>
					<span class="footer__terms-separator"></span>
					<a href="https://policies.google.com/terms?hl=en" class="btn btn_link"><b>Terms & Conditions</b></a>
				</span>
			</div>
		</div>
	</div>
</footer>
