---
//const portalHost = import.meta.env.ASTRO_APP_CABINET_HOST;
---

<header id="header" class="header">
	<div class="container container_wide header__main-container">
		<a href="" class="logo ratio-wrap ratio-wrap_contain header__logo">
			<figure>
				<img src="img/logo.png"class="logo__img ratio-wrap__item" alt="Adway Logo" title="Adwayusa">
				<figcaption class="logo__caption">Adwayusa Logotype</figcaption>
			</figure>
		</a>
		<div class="main-menu header__menu" data-drawer="main-menu">
			<div class="main-menu__panel" data-elem="drawer.panel" data-lenis-prevent>
				<div class="main-menu__inner">
					<nav class="main-menu__nav">
						<a href="#projects" class="btn btn_hover-decor">Projects</a>
						<a href="#services" class="btn btn_hover-decor">Services</a>
						<a href="#about" class="btn btn_hover-decor">About</a>
						<a href="#contact" class="btn btn_hover-decor">Contact</a>
					</nav>
					<div class="theme-switch main-menu__theme-switch">
						<div class="theme-switch__inner">
							<span class="theme-switch__icon icon-sun"></span>
							<div class="theme-switch__switch">
								<div class="theme-switch__thumb"></div>
							</div>
							<span class="theme-switch__icon icon-moon"></span>
						</div>
					</div>
					<div class="social-media main-menu__social">
						<a href="https://www.facebook.com" target="_blank" class="btn btn_social">
							<div class="btn__icon icon-facebook"></div>
						</a>
						<a href="https://twitter.com" target="_blank" class="btn btn_social">
							<div class="btn__icon icon-twitter"></div>
						</a>
						<a href="https://www.linkedin.com" target="_blank" class="btn btn_social">
							<div class="btn__icon icon-linkedin"></div>
						</a>
						<a href="https://instagram.com" target="_blank" class="btn btn_social">
							<div class="btn__icon icon-instagram"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="theme-switch header__theme-switch">
			<div class="theme-switch__inner">
				<span class="theme-switch__icon icon-sun"></span>
				<div class="theme-switch__switch">
					<div class="theme-switch__thumb"></div>
				</div>
				<span class="theme-switch__icon icon-moon"></span>
			</div>
		</div>
		<button type="button" class="burger-btn header__menu-btn" data-drawer-toggle="main-menu">
			<span class="burger-btn__inner">
				<span></span><span></span><span></span>
			</span>
		</button>
	</div>
</header>